.cent{

}

@media (min-width:10px) and (max-width:991px) {
    .cart{background-color: none !important;}
     .close_1{
         display: none;
    }
    li.close_1{
         display: none;
    }
    i.close_1{
        display: none;
    }

}

@media (min-width:10px) and (max-width:440px) {
    
    .imgUp img{
        margin-top: 0px;
    }   
}

.log_color:hover{
    color: red !important;
}



.b-tracker-admin {
/*  font-family: 'Roboto', sans-serif;*/
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}
.b-tracker-admin__row {
  margin-bottom: 25px;
}
.md-datepicker-calendar-pane {
  z-index: 1050 !important;
}


@media screen and (max-height: 1630px) and (min-width: 1490px) {

.technicaltextdownindex{
    margin-left: 30px !important;
    margin-right: -40px!important;
}
}
@media screen and (max-height: 1490px) and (min-width: 1320px) {

    .technicaltextindex{
        font-size: 18px!important;
        font-weight: bold;
        margin-left: 20px !important;
        margin-right: -40px!important;
    }
}
@media screen and (max-height: 1320px) and (min-width: 10px) {

    .technicaltextindex{
        font-size: 18px!important;
        font-weight: bold;
        margin-left: 15px !important;
        margin-right: -40px!important;
    }

}





@media screen and (max-height: 1570px) and (min-width: 990px){
    .technicaltext2{
        margin-top: 20px;
    }
}
@media screen and ( min-width: 1390px ) and ( max-height: 1570px ) {
    .technicaltext {
        font-size: 18px !important;
        font-weight: bold;
        /*margin-top: 15px;*/
        margin-left: 20px !important;
    }
}
@media screen and ( min-width: 1390px ) and ( max-height: 1490px ) {
    .technicaltext {
        font-size: 18px!important;
        font-weight: bold;
        /*margin-top: 15px;*/
        /*margin-left: 30px !important;*/
        margin-right: -40px!important;
    }
}
@media screen and ( min-width: 1330px ) and ( max-height: 1390px ) {
    .technicaltext {
        font-size: 15px;
        font-weight: bold;
        /*margin-top: 15px;*/
        margin-left: 30px !important;
        margin-right: -40px!important;
    }
}
@media screen and ( min-width: 1240px ) and ( max-height: 1330px ) {
    .technicaltext {
        font-size: 14px;
        font-weight: bold;
        /*margin-top: 15px;*/
        margin-left: -10px !important;
        margin-right: -40px!important;
    }
}
@media screen and ( min-width: 1100px ) and ( max-height: 1240px ) {
    .technicaltextdown {
        font-size: 14px;
        font-weight: bold;
        margin-top: 1px;
        margin-left: 40px !important;
        margin-right: -40px!important;
    }
}
